package common

import "net/http"

type APIError interface {
	error
	Code() int
	Message() string
	HTTPStatus() int
	Unwrap() error
}

type AppError struct {
	code       int
	httpStatus int
	message    string
	cause      error
}

func NewError(errorCode, httpStatus int, msg string) *AppError {
	return &AppError{
		code:       errorCode,
		httpStatus: httpStatus,
		message:    msg,
	}
}

func NewServiceError(msg string) *AppError {
	return NewError(ReturnFailed, http.StatusInternalServerError, msg)
}

func NewDAOError(msg string) *AppError {
	return NewError(ReturnFailed, http.StatusInternalServerError, msg)
}

func NewValidationError(msg string) *AppError {
	return NewError(ReturnFailed, http.StatusBadRequest, msg)
}

func NewInternalError(err error) *AppError {
	appErr := NewError(ReturnFailed, http.StatusInternalServerError, "request failed")
	appErr.cause = err
	return appErr
}

func (e AppError) Error() string {
	return e.message
}

func (e AppError) Code() int {
	return e.code
}

func (e AppError) Message() string {
	return e.message
}

func (e AppError) HTTPStatus() int {
	return e.httpStatus
}

func (e AppError) Unwrap() error {
	return e.cause
}
