package common

import "github.com/gofiber/fiber/v2"

type Envelope struct {
	Code    int `json:"code"`
	Message string `json:"message"`
	Data    any `json:"data"`
}

type Response struct {
	context *fiber.Ctx
}

func Success(c *fiber.Ctx, data any) error {
	return NewResponse(c).SuccessWithData(data)
}

func Error(c *fiber.Ctx, status int, message string) error {
	return NewResponse(c).write(status, ReturnFailed, message, fiber.Map{})
}

func NewResponse(ctx *fiber.Ctx) *Response {
	return &Response{context: ctx}
}

func (r *Response) Success() error {
	return r.SuccessWithData(nil)
}

func (r *Response) SuccessWithData(data any) error {
	return r.write(fiber.StatusOK, ReturnSuccess, "success", data)
}

func (r *Response) Error(data any) error {
	appErr := normalizeError(data)
	return r.write(appErr.HTTPStatus(), appErr.Code(), appErr.Message(), nil)
}

func (r *Response) ErrorWithCode(data any, status int) error {
	appErr := normalizeError(data)
	return r.write(status, appErr.Code(), appErr.Message(), nil)
}

func (r *Response) write(status, code int, message string, data any) error {
	return r.context.Status(status).JSON(Envelope{
		Code:    code,
		Message: message,
		Data:    data,
	})
}

func normalizeError(data any) APIError {
	switch value := data.(type) {
	case nil:
		return NewServiceError("request failed")
	case APIError:
		return value
	case error:
		return NewInternalError(value)
	case string:
		return NewServiceError(value)
	default:
		return NewServiceError("request failed")
	}
}
