package router

import (
	usercontroller "{{module_path}}/internal/app/user/controller"
	"github.com/gofiber/fiber/v3"
)

func api(root fiber.Router, modules AppModules) {
	if modules.UserAPI == nil {
		return
	}
	v1(root.Group("/v1"), modules)
}

func v1(root fiber.Router, modules AppModules) {
	userRoutes(root.Group("/user"), modules.UserAPI)
}

func userRoutes(root fiber.Router, userAPI *usercontroller.API) {
	root.Post("/", userAPI.Create)
	root.Get("/", userAPI.List)
	root.Get("/:id", userAPI.Get)
	root.Put("/:id", userAPI.Update)
	root.Delete("/:id", userAPI.Delete)
}
