package controller

import (
	"errors"
	"strconv"

	"github.com/gofiber/fiber/v2"

	"{{module_path}}/internal/app/user/dao"
	"{{module_path}}/internal/app/user/models"
	"{{module_path}}/internal/app/user/service"
	"{{module_path}}/pkg/common"
)

type API struct {
	service *service.Service
}

func New(svc *service.Service) *API {
	return &API{service: svc}
}

func (api *API) Create(c *fiber.Ctx) error {
	if err := api.ensureService(c); err != nil {
		return err
	}

	var input models.CreateUserInput
	if err := c.BodyParser(&input); err != nil {
		return common.NewResponse(c).Error(common.NewValidationError("invalid request body"))
	}

	user, err := api.service.Create(c.UserContext(), input)
	if err != nil {
		return writeServiceError(c, err)
	}
	return common.Success(c, user)
}

func (api *API) List(c *fiber.Ctx) error {
	if err := api.ensureService(c); err != nil {
		return err
	}

	pageNum, _ := strconv.Atoi(c.Query("page_num", "1"))
	pageSize, _ := strconv.Atoi(c.Query("page_size", "10"))

	result, err := api.service.List(c.UserContext(), pageNum, pageSize)
	if err != nil {
		return writeServiceError(c, err)
	}
	return common.Success(c, result)
}

func (api *API) Get(c *fiber.Ctx) error {
	if err := api.ensureService(c); err != nil {
		return err
	}

	id, err := strconv.ParseInt(c.Params("id"), 10, 64)
	if err != nil {
		return common.NewResponse(c).Error(common.NewValidationError("invalid user id"))
	}

	user, err := api.service.Get(c.UserContext(), id)
	if err != nil {
		return writeServiceError(c, err)
	}
	return common.Success(c, user)
}

func (api *API) Update(c *fiber.Ctx) error {
	if err := api.ensureService(c); err != nil {
		return err
	}

	id, err := strconv.ParseInt(c.Params("id"), 10, 64)
	if err != nil {
		return common.NewResponse(c).Error(common.NewValidationError("invalid user id"))
	}

	var input models.UpdateUserInput
	if err := c.BodyParser(&input); err != nil {
		return common.NewResponse(c).Error(common.NewValidationError("invalid request body"))
	}

	user, err := api.service.Update(c.UserContext(), id, input)
	if err != nil {
		return writeServiceError(c, err)
	}
	return common.Success(c, user)
}

func (api *API) Delete(c *fiber.Ctx) error {
	if err := api.ensureService(c); err != nil {
		return err
	}

	id, err := strconv.ParseInt(c.Params("id"), 10, 64)
	if err != nil {
		return common.NewResponse(c).Error(common.NewValidationError("invalid user id"))
	}

	if err := api.service.Delete(c.UserContext(), id); err != nil {
		return writeServiceError(c, err)
	}
	return common.Success(c, fiber.Map{"id": id})
}

func (api *API) ensureService(c *fiber.Ctx) error {
	if api == nil || api.service == nil {
		return common.NewResponse(c).Error(common.NewInternalError(errors.New("user service not initialized")))
	}
	return nil
}

func writeServiceError(c *fiber.Ctx, err error) error {
	return common.NewResponse(c).Error(mapServiceError(err))
}

func mapServiceError(err error) common.APIError {
	switch {
	case errors.Is(err, service.ErrInvalidUserInput):
		return common.NewValidationError("invalid user input")
	case errors.Is(err, dao.ErrNotFound):
		return common.NewError(common.ReturnFailed, fiber.StatusNotFound, "user not found")
	default:
		return common.NewInternalError(err)
	}
}
